<div class="container">
  <div class="row">
    <% if flash[:alert] %>
      <p><%= flash[:alert] %><%= current_user.name %>さん</p>
    <% end %>
    <table class="table table-striped">
      <thead>
      </thead>
    </table>
  </div>
</div>
