<div class="main-container">
  <div class="row">
  	<main>
  		<%= image_tag 'atsuban1.jpg', :width => '1100', :height => '500' %>
  		<img class="image" alt="" height="10" src="/assets/circle_btn.png" width="40" />
  	</main>
  	<body>
   	  <div class="col-xs-3">
   	    <h1>aaaa</h1>
   	  </div>
  	</body>
  </div>
</div>