<div class="main-container">
  <div class="row">
  	<main>
  		<%= image_tag 'atsuban1.jpg', :width => '1100', :height => '500' %>
  	</main>
  	<body>
   	  <div class="col-xs-3">
   	    <h1>ああああ</h1>
   	  </div>
  	</body>
  </div>
</div>